:root {
    --background-color-dark: rgb(24, 24, 24);
    --background-color-dark-deep: #020202;
    --color-dark: whitesmoke;
    --color-dimmed-dark: hsl(0, 0%, 88%);
    --color-dimmed-lesser-dark: whitesmoke;
}

body.dark,
body[data-theme="dark"] {
    color: var(--color-dark);
    --global-color: var(--color-dark);
    --global-color-dimmed: var(--color-dimmed-dark);
    --global-color-dimmed-lesser: var(--color-dimmed-lesser-dark);

    background-color: var(--background-color-dark);
    --global-background-color: var(--background-color-dark);
    --global-background-color-deep: var(--background-color-dark-deep);
}
