:root {
    --background-dark: rgb(24, 24, 24);
    --color-dark: whitesmoke;
}

body.dark,
body[data-theme="dark"] {
    color: var(--color-dark);
    --global-color: var(--color-dark);

    background-color: var(--background-dark);
    --global-bg: var(--background-dark);
}
