:root {
    --background-color-light: hsl(0, 0%, 96%);
    --background-color-light-deep: hsl(0, 0%, 98%);
    --color-light: rgb(28, 28, 28);
    --color-dimmed-light: hsl(0, 0%, 25%);
    --color-dimmed-lesser-light: rgb(42, 42, 42);
}

body.light,
body[data-theme="light"] {
    background-color: var(--background-color-light);
    --global-background-color: var(--background-color-light);
    --global-background-color-deep: var(--background-color-light-deep);
    --global-color-dimmed: var(--color-dimmed-light);
    --global-color-dimmed-lesser: var(--color-dimmed-lesser-light);

    color: var(--color-light);
    --global-color: var(--color-light);
}
