.error {
    display: grid;
    place-items: center;
    place-content: center;

    width: 100%;
    height: 100%;

    padding: 1em;

    font-size: 0.75rem;

    cursor: default;

    &__title {
        font-family: "Nunito";
        font-size: 1.5em;
        font-weight: bold;
        color: var(--error-color, black);
        line-height: 1.25em;
        text-align: center;

        margin-block-end: 0.25em;
    }

    &__message {
        font-family: "Consolas", sans-serif;
        font-size: 1.25em;
        font-weight: 600;
        color: var(--error-color, black);
        line-height: 1.5em;
        text-align: left;

        margin-block-end: 0.25em;
    }

    &__description {
        font-family: "Consolas", sans-serif;
        font-weight: 100;
        font-size: 1em;
        color: var(--error-color, black);
        line-height: 1.5em;
        text-align: justify;

        max-width: 525px;

        word-break: break-word;
    }

    &__callback {
        display: flex;
        flex-wrap: wrap;

        width: 18em;


        button {
            flex-grow: 1;

            margin: 5px;
        }
    }
}


body>.error,
body>*>.error,
body>*>*>.error {
    font-size: clamp(0.9em, calc(1vw + 1vh), 23px);
}


body[data-theme='dark'] {
    --error-color: whitesmoke;
}
