body {
    .lazyload {
        --cover-bg: rgba(245, 245, 245, 0.8);
    }
}


body[data-theme='dark'] {
    .lazyload {
        --cover-bg: rgba(14, 14, 14, 0.8);
    }
}


.lazyload {
    position: var(--position, relative);
    inset: var(--inset, unset);

    overflow: hidden;

    border: none;

    z-index: 0;


    * {
        z-index: 1;
    }


    &__image {
        position: absolute;
        inset: 0;

        margin: auto;

        width: 100%;
        height: 100%;

        overflow: hidden;

        object-position: 50% 50%;
        object-fit: var(--object-fit);

        border: none;
        border-image-width: 0;

        z-index: 0;
    }


    &__cover {
        position: absolute;
        inset: 0;

        margin: auto;

        width: 100%;
        height: 100%;

        background-color: var(--cover-bg);

        overflow: hidden;


        &[data-loaded] {
            display: none;

            opacity: 0;
        }
    }
}
