body {
    .loading {

        &--small,
        &--big,
        &--cover {
            --background: rgba(245, 245, 245, 0.4);
        }
    }
}


body[data-theme="dark"] {
    .loading {

        &--small,
        &--big,
        &--cover {
            --background: rgba(14, 14, 14, 0.4);
            --small-loading-bg: white;
            --big-loading-bg: rgba(194, 194, 194, 0.6);
            --big-spinner-bg: rgb(24, 24, 24);
        }
    }
}


.loading {
    &--small {
        position: relative;
        display: inline-block;
        width: 1em;
        height: 1em;

        border: 3px solid var(--small-loading-bg, rgb(44, 44, 44));
        border-right-color: transparent;
        border-radius: 50%;
        animation: 0.75s rotate360 linear infinite;
    }


    &--big {
        position: relative;

        width: 4em;
        height: 4em;

        &:after,
        &:before {
            content: "";
            position: absolute;
        }

        &:before {
            background-color: var(--big-loading-bg, rgba(165, 165, 165, 0.6));

            width: 100%;
            height: 100%;

            inset: 0;

            border-radius: 0.9375em;

            animation: rotate90 1s cubic-bezier(0.22, 1, 0.36, 1) infinite;

            z-index: -1;
        }

        &:after {
            width: 50%;
            height: 50%;

            inset: 0;

            margin: auto;

            border: 3px solid var(--big-spinner-bg, white);
            border-right-color: transparent;
            border-radius: 50%;

            animation: 1s rotate360 linear infinite;

            z-index: 0;
        }
    }


    &--cover {
        --size: clamp(6rem, 75%, 15rem);

        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        margin: auto;

        z-index: 178;

        background-color: var(--background);

        backdrop-filter: blur(6px);


        &:after {
            content: '';

            position: absolute;
            inset: 0;

            margin: auto;

            width: calc(var(--size) / 1.5);
            max-width: calc(var(--size) / 6);


            @media (max-width: 600px) {
                width: unset;
                max-width: unset;

                height: calc(var(--size) / 1.5);
                max-height: calc(var(--size) / 6);
            }


            aspect-ratio: 1;

            border: 3px solid var(--big-spinner-bg, white);
            border-right-color: transparent;
            border-radius: 50%;

            animation: 1s rotate360 linear infinite;

            z-index: 0;

            pointer-events: none;
        }


        &:before {
            content: '';

            position: absolute;
            inset: 0;

            margin: auto;

            width: var(--size);
            max-width: calc(var(--size) / 2.5);


            @media (max-width: 600px) {
                width: unset;
                max-width: unset;

                height: var(--size);
                max-height: calc(var(--size) / 2.5);
            }


            aspect-ratio: 1;

            background-color: var(--big-loading-bg, rgba(165, 165, 165, 0.6));

            border-radius: 19%;

            animation: 0.8s rotate90 cubic-bezier(0.22, 1, 0.36, 1) infinite;

            z-index: -1;

            pointer-events: none;
        }
    }
}
