.slider {
    --time: 250ms;
    --timing-function: ease-out;

    flex-grow: 1;

    position: relative;

    width: auto;

    margin: 0 2.5em;

    input {
        opacity: 0;
        width: 100%;
        -webkit-appearance: none;
    }

    *:not(input) {
        pointer-events: none;
    }

    &--dragging {
        .slider {
            &__thumb {
                transition-duration: var(--time), var(--time);
                transition-property: background-color, border-color;
                transition-timing-function: var(--timing-function), var(--timing-function);
            }

            &__track {

                &--left,
                &--right {
                    transition: var(--time) background-color var(--timing-function);
                }
            }
        }
    }

    &__track {

        &--left,
        &--right {
            position: absolute;
            top: calc(50% - 1px);

            display: inline-block;

            height: 2px;

            background-color: $blue-color;

            border-radius: 100px;

            z-index: -2;

            transition-duration: var(--time), var(--time);
            transition-property: width, background-color;
            transition-timing-function: var(--timing-function), var(--timing-function);
        }

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
            opacity: 0.4;
        }
    }

    &__thumb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 12px;
        width: 40px;

        background-color: var(--slider-thumb-bg, white);

        border-color: var(--slider-thumb-border-bg, $blue-color);
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;

        z-index: -1;

        transition-duration:
            var(--time),
            var(--time),
            var(--time);
        transition-property:
            left,
            background-color,
            border-color;
        transition-timing-function:
            var(--timing-function),
            var(--timing-function),
            var(--timing-function);

        pointer-events: none;

        &:before {
            content: "";

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            width: 116%;
            height: 130%;

            border-radius: 15px;

            background-color: var(--shine, rgb(160, 220, 250));

            box-shadow: 0 0 14px 0 var(--shine, rgb(160, 220, 250));

            opacity: 0;

            box-sizing: content-box;

            transition:
                var(--time) opacity var(--timing-function),
                var(--time) background-color var(--timing-function);
        }
    }

    &[data-color="blue"] {
        --slider-thumb-border-bg: rgb(68, 170, 221);

        .slider__track {
            &--left {
                background-color: $blue-color;
            }

            &--right {
                background-color: $dark-blue-color;
            }
        }
    }

    &[data-color="pink"] {
        --slider-thumb-border-bg: #ff66aa;
        --shine: rgb(255, 168, 232);

        .slider__track {
            &--left {
                background-color: $pink-color;
            }

            &--right {
                background-color: $dark-pink-color;
            }
        }
    }

    &[data-uncomfortable] {
        --slider-thumb-border-bg: #dd2d44;
        --shine: #f86e70;

        .slider__track {
            &--left {
                background-color: #dd2d44;
            }

            &--right {
                background-color: #8f0b0b;
            }
        }
    }

    &:active {

        .slider__thumb,
        &[data-color="blue"] .slider__thumb {
            border-color: $blue-active;

            &:before {
                opacity: 1;
            }
        }

        &[data-color="pink"] .slider__thumb {
            border-color: $pink-active;

            &:before {
                opacity: 1;
            }
        }

        &[data-uncomfortable] .slider__thumb {
            border-color: #f86e70;

            &:before {
                opacity: 1;
            }
        }
    }
}

body[theme="dark"],
body[data-theme="dark"],
body.dark {
    --slider-thumb-bg: black;
}

@media (hover: hover) {
    .slider {
        --time: 400ms;
        --timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &:hover,
        &[data-color="blue"]:hover .slider__thumb {
            border-color: $blue-hover;

            .slider__thumb:before {
                opacity: 0.6;
            }
        }

        &[data-color="pink"]:hover .slider__thumb {
            border-color: $pink-hover;

            .slider__thumb:before {
                opacity: 0.6;
            }
        }

        &[data-uncomfortable]:hover .slider__thumb {
            border-color: #dd2d44;

            .slider__thumb:before {
                opacity: 0.6;
            }
        }
    }
}
