._expander {
    width: 100%;
    height: 100%;
}


*[data-style_='full-height'] {
    height: 100%;
}


*[data-style_='full-width'] {
    width: 100%;
}


*[data-style_='full-size'] {
    height: 100%;
    width: 100%;
}
