t-container,
.tooltip {
    --background-color: hsla(0, 0%, 4%, 0.45);
    --background-blink-color: hsla(0, 0%, 40%, 0.45);

    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;

    margin: auto;

    display: inline-block;

    place-items: center;
    place-content: center;

    padding: 6px 9px;

    letter-spacing: 0.2px;
    text-align: center;
    white-space: pre-line;
    word-wrap: break-word;

    border-radius: 6px;

    backdrop-filter: saturate(80%) blur(6px);

    background-color: var(--background-color);

    box-sizing: content-box;

    transform-origin: center;

    overflow: hidden;

    pointer-events: none;
    user-select: none;

    will-change: opacity, --position-x, --position-y;

    transition-duration: 300ms, 300ms, 300ms, 300ms, 300ms;
    transition-property: transform, opacity, width, height, padding;
    transition-timing-function:
        cubic-bezier(0.22, 1, 0.36, 1),
        ease-out,
        ease,
        ease,
        cubic-bezier(0.22, 1, 0.36, 1);

    transform:
        translate(calc(var(--position-x) * 1px), calc(var(--position-y) * 1px));

    animation-name: none;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    opacity: 0;

    z-index: 999999;


    &[data-glow] {
        animation-name: tooltip-blink;
    }


    &[data-activated] {
        width: calc(var(--width) * 1px);
        height: calc(var(--height) * 1px);

        opacity: 1;
    }


    &[data-deactivated] {
        width: 0px;
        height: 0px;
    }


    &[data-fit] {
        padding: 0;
    }


    t-content,
    .tooltip__content {
        display: flex;
        flex-direction: row;

        place-items: center;
        place-content: center;

        max-width: 25vw;
        max-height: 30vh;
        width: fit-content;
        height: fit-content;

        border-radius: inherit;

        color: white;

        font-family: var(--font-secondary);
        font-size: 15px;
        font-weight: normal;

        text-align: center;
        letter-spacing: 0.2px;
        white-space: pre;
    }
}


@keyframes tooltip-blink {
    0% {
        background-color: var(--background-blink-color);
    }

    100% {
        background-color: var(--background-color);
    }
}
