$backgroundColor: hsla(0, 0%, 4%, 0.45);
$backgroundBlinkColor: hsla(0, 0%, 40%, 0.45);
$duration: 300;

.container {
    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;

    display: flex;
    
    place-content: center;
    place-items: center;

    box-sizing: border-box;

    margin: auto;

    background-color: $backgroundColor;

    letter-spacing: 0.2px;
    text-align: center;
    white-space: pre-line;
    word-wrap: break-word;

    border-radius: 6px;

    backdrop-filter: saturate(80%) blur(6px);

    transform-origin: center;

    overflow: hidden;

    pointer-events: none;
    user-select: none;

    transition-duration:
        $duration * 1ms,
        $duration * 1ms,
        $duration * 1ms,
        $duration * 1ms;
    transition-property:
        translate,
        opacity,
        width,
        height;
    transition-timing-function:
        cubic-bezier(0.22, 1, 0.36, 1),
        cubic-bezier(0.22, 1, 0.36, 1),
        ease,
        ease;

    translate: calc(var(--fukumi-tooltip-position-x, 650) * 1px) calc(var(--fukumi-tooltip-position-y, 650) * 1px);

    animation-name: none;
    animation-duration: $duration * 1ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    opacity: 0;

    z-index: 10002;

    &[data-glow="true"] {
        animation-name: tooltipBlink;
    }

    &[data-activated="true"] {
        opacity: 1;

        width: calc(var(--width) * 1px);
        height: calc(var(--height) * 1px);

        .content {
            opacity: 1;

            padding: 0.6rem 0.9rem;
        }
    }

    &[data-deactivated="true"] {
        .content {
            padding: 0;
        }
    }

    &[data-padding="false"] {
        .content {
            padding: 0;
        }
    }

    .content {
        max-width: 25vw;
        max-height: 30vh;
        width: fit-content;
        height: fit-content;

        border-radius: inherit;

        color: var(--color-dark);

        opacity: 0;

        transition-property: opacity, padding;
        transition-duration: $duration * 0.3ms;
        transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1), ease;

        font-family: var(--font-secondary);
        font-size: 1.3rem;
        font-weight: normal;

        letter-spacing: 0.2px;
        white-space: pre;

        box-sizing: border-box;
    }
}

@keyframes tooltipBlink {
    0% {
        background-color: $backgroundBlinkColor;
    }

    100% {
        background-color: $backgroundColor;
    }
}

:export {
    duration: $duration;
}
