@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate90 {
    to {
        transform: rotate(90deg);
    }
}

@keyframes gelatine {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.85, 1.15);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    75% {
        transform: scale(0.85, 1.15);
    }

    100% {
        transform: scale(1, 1);
    }
}
