$osc-color: (
    smoke: #f6f6f6,
    deeplightgreen: #38e538,
    blue: #44aadd,
    deeppink: #f04572
);


// slider
$blue-color: rgb(68, 170, 221);
$blue-active: rgb(134, 215, 255);
$dark-blue-color: rgb(6, 83, 121);
$blue-hover: rgb(134, 215, 255);
$pink-color: #FF66AA;
$dark-pink-color: #bf1260;
$pink-active: rgb(255, 164, 210);
$pink-hover: rgb(255, 164, 210);
