:root {
    --flat-color-green: #a8cc8c;
    --flat-color-red: #e88388;
    --flat-color-blue: #71bef2;
    --flat-color-aqua: #66c2cd;
    --flat-color-yellow: #dbab79;
    --flat-color-orange: #e67e22;
    --flat-color-gray: #6b737e;
    --flat-color-magenta: #d290e4;
    --flat-color-black: #282d35;
    --flat-color-pink: #f368e0;

    --osc-color-whitesmoke: #f6f6f6;
    --osc-color-pink: #ff66aa;
    --osc-color-green: #88b400;
    --osc-color-blue: #44aadd;
    --osc-color-yellow: #f6c21c;
    --osc-color-orange: #ffa502;
    --osc-color-red: #dd2d44;
    --osc-color-brown: #3f313d;
    --osc-color-gray: #485e74;
    --osc-color-dark: #1e1e1e;
    --osc-color-purple: #593790;
    --osc-color-darkGreen: #0c4207;
    --osc-color-darkBlue: #032b3d;
    --osc-color-darkYellow: #444304;
    --osc-color-darkRed: #440505;
    --osc-color-lightBlue: #daf3ff;
    --osc-color-navyBlue: #333d79;

    --color-green: rgb(147, 252, 173);
    --color-green-dark: rgb(26, 233, 77);
    --color-blue: rgb(166, 225, 252);
    --color-blue-dark: rgb(57, 190, 252);
    --color-yellow: rgb(253, 240, 141);
    --color-yellow-dark: rgb(255, 209, 27);
    --color-red: rgb(255, 181, 201);
    --color-red-dark: rgb(255, 75, 123);
    --color-pink: rgb(255, 198, 250);
    --color-pink-dark: rgb(255, 79, 240);
    --color-orange: rgb(255, 211, 190);
    --color-orange-dark: rgb(255, 135, 79);
    --color-gray: rgb(157, 152, 152);

    /** default */
    --font-primary: "Noto Sans";
    --font-secondary: "Nunito";
    --font-trinary: "Asap";
    --font-note: "Segoe UI";
    --font-code: "Consolas";
    --font-title-rounded: "Raleway";
    --font-title-hard: "Roboto";

    /** base 10 */
    font-size: 10px;
    font-family: var(--font-primary);
}

*,
*:after,
*:before,
*:active,
*:focus,
*:visited {
    -webkit-tap-highlight-color: transparent;

    scroll-behavior: smooth;

    outline: none;

    isolation: isolate;
    z-index: 1;
}

body {
    min-height: 100vh;
    min-width: 100vw;

    font-size: 1.6rem;
}

button {
    i {
        margin-inline: auto;
    }

    * + i {
        margin-inline: 0 auto;
    }

    i + * {
        margin-inline: auto 0;
    }
}

*::selection {
    background-color: #c6f8ff;
    color: #7e0a86;
}
