@import "Nunito";
@import "Calibri";
@import "OpenSans";

@font-face {
    font-family: "Segoe UI Semilight";
    src: local("Segoe UI Semilight Italic"), local("SegoeUI-SemilightItalic"),
        url("./../fonts/SegoeUI-SemilightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Segoe UI Semilight";
    src: local("Segoe UI Semilight"), local("SegoeUI-Semilight"),
        url("./../fonts/SegoeUI-Semilight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: var(--primary-font);
    src: local("Segoe UI Black"), local("SegoeUIBlack"), url("./../fonts/SegoeUIBlack.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: var(--primary-font);
    src: local("Segoe UI Light Italic"), local("SegoeUI-LightItalic"),
        url("./../fonts/SegoeUI-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: var(--primary-font);
    src: local("Segoe UI Bold Italic"), local("SegoeUI-BoldItalic"),
        url("./../fonts/SegoeUI-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: var(--primary-font);
    src: local("Segoe UI Light"), local("SegoeUI-Light"), url("./../fonts/SegoeUI-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: var(--primary-font);
    src: local(var(--primary-font)), local("SegoeUI"), url("./../fonts/SegoeUI.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: var(--primary-font);
    src: local("Segoe UI Bold"), local("SegoeUI-Bold"), url("./../fonts/SegoeUI-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: var(--primary-font);
    src: local("Segoe UI Semibold Italic"), local("SegoeUI-SemiboldItalic"),
        url("./../fonts/SegoeUI-SemiboldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: var(--primary-font);
    src: local("Segoe UI Italic"), local("SegoeUI-Italic"), url("./../fonts/SegoeUI-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: var(--primary-font);
    src: local("Segoe UI Semibold"), local("SegoeUI-Semibold"), url("./../fonts/SegoeUI-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: var(--primary-font);
    src: local("Segoe UI Black Italic"), local("SegoeUIBlack-Italic"),
        url("./../fonts/SegoeUIBlack-Italic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Consolas";
    src: local("Consolas Italic"), local("Consolas-Italic"), url("./../fonts/Consolas-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Consolas";
    src: local("Consolas Bold Italic"), local("Consolas-BoldItalic"),
        url("./../fonts/Consolas-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Consolas";
    src: local("Consolas Bold"), local("Consolas-Bold"), url("./../fonts/Consolas-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Consolas";
    src: local("Consolas"), url("./../fonts/Consolas.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Torus";
    src: url("./../fonts/Torus Regular.otf") format("woff");
    font-display: swap;
    font-weight: normal;
}
@font-face {
    font-family: "Torus";
    src: url("./../fonts/Torus Bold.otf") format("woff");
    font-display: swap;
    font-weight: bold;
}
@font-face {
    font-family: "Torus";
    src: url("./../fonts/Torus Light.otf") format("woff");
    font-display: swap;
    font-weight: lighter;
}

@font-face {
    font-family: "Ubuntu";
    src: url("./../fonts/Ubuntu-Regular.ttf") format("woff");
    font-display: swap;
    font-weight: normal;
}
@font-face {
    font-family: "Ubuntu";
    src: url("./../fonts/Ubuntu-Bold.ttf") format("woff");
    font-display: swap;
    font-weight: bold;
}
@font-face {
    font-family: "Ubuntu";
    src: url("./../fonts/Ubuntu-BoldItalic.ttf") format("woff");
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu";
    src: url("./../fonts/Ubuntu-Italic.ttf") format("woff");
    font-display: swap;
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu";
    src: url("./../fonts/Ubuntu-Light.ttf") format("woff");
    font-display: swap;
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu";
    src: url("./../fonts/Ubuntu-LightItalic.ttf") format("woff");
    font-display: swap;
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu";
    src: url("./../fonts/Ubuntu-Medium.ttf") format("woff");
    font-display: swap;
    font-weight: medium;
}
@font-face {
    font-family: "Ubuntu";
    src: url("./../fonts/Ubuntu-MediumItalic.ttf") format("woff");
    font-display: swap;
    font-weight: medium;
    font-style: italic;
}
