html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

:root {
  --flat-color-green: #a8cc8c;
  --flat-color-red: #e88388;
  --flat-color-blue: #71bef2;
  --flat-color-aqua: #66c2cd;
  --flat-color-yellow: #dbab79;
  --flat-color-orange: #e67e22;
  --flat-color-gray: #6b737e;
  --flat-color-magenta: #d290e4;
  --flat-color-black: #282d35;
  --flat-color-pink: #f368e0;
  --osc-color-whitesmoke: #f6f6f6;
  --osc-color-pink: #ff66aa;
  --osc-color-green: #88b400;
  --osc-color-blue: #44aadd;
  --osc-color-yellow: #f6c21c;
  --osc-color-orange: #ffa502;
  --osc-color-red: #dd2d44;
  --osc-color-brown: #3f313d;
  --osc-color-gray: #485e74;
  --osc-color-dark: #1e1e1e;
  --osc-color-purple: #593790;
  --osc-color-darkGreen: #0c4207;
  --osc-color-darkBlue: #032b3d;
  --osc-color-darkYellow: #444304;
  --osc-color-darkRed: #440505;
  --osc-color-lightBlue: #daf3ff;
  --osc-color-navyBlue: #333d79;
  --color-green: rgb(147, 252, 173);
  --color-green-dark: rgb(26, 233, 77);
  --color-blue: rgb(166, 225, 252);
  --color-blue-dark: rgb(57, 190, 252);
  --color-yellow: rgb(253, 240, 141);
  --color-yellow-dark: rgb(255, 209, 27);
  --color-red: rgb(255, 181, 201);
  --color-red-dark: rgb(255, 75, 123);
  --color-pink: rgb(255, 198, 250);
  --color-pink-dark: rgb(255, 79, 240);
  --color-orange: rgb(255, 211, 190);
  --color-orange-dark: rgb(255, 135, 79);
  --color-gray: rgb(157, 152, 152);
  --font-primary: "Segoe UI";
  --font-secondary: "Nunito";
  --font-code: "Consolas";
  --color-dark: whitesmoke;
  --color-light: rgb(28, 28, 28);
  --background-light: whitesmoke;
  --background-dark: rgb(24, 24, 24);
}

*,
*:after,
*:before,
*:active,
*:focus,
*:visited {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  outline: none;
  z-index: 1;
}

body {
  background-color: var(--background-light);
  --global-background: var(--background-light);
  color: var(--color-light);
  --global-color: var(--color-light);
  min-height: 100vh;
  min-width: 100vw;
}
body .expander {
  width: 100%;
  height: 100%;
}

body.dark,
body[data-theme=dark] {
  color: var(--color-dark);
  --global-color: var(--color-dark);
  background-color: var(--background-dark);
  --global-bg: var(--background-dark);
}

*::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-idle-color);
  border-radius: 10vw;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-show-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-active-color);
}

*::-webkit-scrollbar-track {
  background-color: inherit;
}

a {
  all: unset;
  text-decoration: none;
}

i {
  position: relative;
  background-color: transparent;
  pointer-events: none;
}
i:before {
  position: static;
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
}

button * + i {
  margin-inline-start: auto;
}
button i + * {
  margin-inline-start: auto;
}
button i {
  height: 100%;
}

.expander {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito ExtraBold Italic"), local("Nunito-ExtraBoldItalic"), url("./../fonts/Nunito-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito ExtraLight Italic"), local("Nunito-ExtraLightItalic"), url("./../fonts/Nunito-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Light"), local("Nunito-Light"), url("./../fonts/Nunito-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Regular"), local("Nunito-Regular"), url("./../fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Italic"), local("Nunito-Italic"), url("./../fonts/Nunito-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Black Italic"), local("Nunito-BlackItalic"), url("./../fonts/Nunito-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito ExtraLight"), local("Nunito-ExtraLight"), url("./../fonts/Nunito-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Light Italic"), local("Nunito-LightItalic"), url("./../fonts/Nunito-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Bold"), local("Nunito-Bold"), url("./../fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Black"), local("Nunito-Black"), url("./../fonts/Nunito-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Bold Italic"), local("Nunito-BoldItalic"), url("./../fonts/Nunito-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito ExtraBold"), local("Nunito-ExtraBold"), url("./../fonts/Nunito-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("./../fonts/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito SemiBold Italic"), local("Nunito-SemiBoldItalic"), url("./../fonts/Nunito-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Calibri";
  src: local("Calibri"), url("./../fonts/Calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Calibri";
  src: local("Calibri Light"), local("Calibri-Light"), url("./../fonts/Calibri-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Calibri";
  src: local("Calibri Bold"), local("Calibri-Bold"), url("./../fonts/Calibri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("./../fonts/OpenSans-ExtraboldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("./../fonts/OpenSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("./../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("./../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("./../fonts/OpenSansLight-Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"), url("./../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("./../fonts/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("./../fonts/OpenSans-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("./../fonts/OpenSans-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"), url("./../fonts/OpenSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Semilight";
  src: local("Segoe UI Semilight Italic"), local("SegoeUI-SemilightItalic"), url("./../fonts/SegoeUI-SemilightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI Semilight";
  src: local("Segoe UI Semilight"), local("SegoeUI-Semilight"), url("./../fonts/SegoeUI-Semilight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: var(--primary-font);
  src: local("Segoe UI Black"), local("SegoeUIBlack"), url("./../fonts/SegoeUIBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: var(--primary-font);
  src: local("Segoe UI Light Italic"), local("SegoeUI-LightItalic"), url("./../fonts/SegoeUI-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: var(--primary-font);
  src: local("Segoe UI Bold Italic"), local("SegoeUI-BoldItalic"), url("./../fonts/SegoeUI-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: var(--primary-font);
  src: local("Segoe UI Light"), local("SegoeUI-Light"), url("./../fonts/SegoeUI-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: var(--primary-font);
  src: local(var(--primary-font)), local("SegoeUI"), url("./../fonts/SegoeUI.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: var(--primary-font);
  src: local("Segoe UI Bold"), local("SegoeUI-Bold"), url("./../fonts/SegoeUI-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: var(--primary-font);
  src: local("Segoe UI Semibold Italic"), local("SegoeUI-SemiboldItalic"), url("./../fonts/SegoeUI-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: var(--primary-font);
  src: local("Segoe UI Italic"), local("SegoeUI-Italic"), url("./../fonts/SegoeUI-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: var(--primary-font);
  src: local("Segoe UI Semibold"), local("SegoeUI-Semibold"), url("./../fonts/SegoeUI-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: var(--primary-font);
  src: local("Segoe UI Black Italic"), local("SegoeUIBlack-Italic"), url("./../fonts/SegoeUIBlack-Italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Consolas";
  src: local("Consolas Italic"), local("Consolas-Italic"), url("./../fonts/Consolas-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Consolas";
  src: local("Consolas Bold Italic"), local("Consolas-BoldItalic"), url("./../fonts/Consolas-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Consolas";
  src: local("Consolas Bold"), local("Consolas-Bold"), url("./../fonts/Consolas-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Consolas";
  src: local("Consolas"), url("./../fonts/Consolas.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Torus";
  src: url("./../fonts/Torus Regular.otf") format("woff");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Torus";
  src: url("./../fonts/Torus Bold.otf") format("woff");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "Torus";
  src: url("./../fonts/Torus Light.otf") format("woff");
  font-display: swap;
  font-weight: lighter;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./../fonts/Ubuntu-Regular.ttf") format("woff");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./../fonts/Ubuntu-Bold.ttf") format("woff");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./../fonts/Ubuntu-BoldItalic.ttf") format("woff");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./../fonts/Ubuntu-Italic.ttf") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./../fonts/Ubuntu-Light.ttf") format("woff");
  font-display: swap;
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./../fonts/Ubuntu-LightItalic.ttf") format("woff");
  font-display: swap;
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./../fonts/Ubuntu-Medium.ttf") format("woff");
  font-display: swap;
  font-weight: medium;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./../fonts/Ubuntu-MediumItalic.ttf") format("woff");
  font-display: swap;
  font-weight: medium;
  font-style: italic;
}
@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate90 {
  to {
    transform: rotate(90deg);
  }
}
@keyframes gelatine {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.85, 1.15);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  75% {
    transform: scale(0.85, 1.15);
  }
  100% {
    transform: scale(1, 1);
  }
}
.glasium {
  position: relative;
  color: var(--color);
}
.glasium__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  border-radius: inherit;
  z-index: -2;
  pointer-events: none;
  overflow: hidden;
  transition: 200ms background-color ease-out;
}
.glasium__shape--circle, .glasium__shape--square, .glasium__shape--triangle, .glasium__shape--hexagon {
  position: absolute;
  top: 100%;
  min-width: 80px;
  min-height: 80px;
  width: var(--size);
  height: var(--size);
  background-color: var(--shape-color);
  filter: brightness(var(--brightness));
  transition: 200ms background-color ease-out;
  animation-name: glasium-shape;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform, animation-delay, animation-duration;
  transform: translateY(0%) rotate(0deg);
}
.glasium__shape--circle {
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}
.glasium__shape--square {
  width: var(--size);
  height: var(--size);
}
.glasium__shape--triangle {
  width: var(--size);
  height: var(--size);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}
.glasium__shape--hexagon {
  width: var(--size);
  height: var(--size);
  clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
}
.glasium[data-disabled] .glasium__background, .glasium[disabled] .glasium__background {
  filter: brightness(0.8);
}

@keyframes glasium-shape {
  0% {
    transform: translateY(calc(100% + var(--size))) rotate(0deg);
  }
  100% {
    --translate: calc((100% + var(--background-height)) * -1);
    transform: translateY(var(--translate)) rotate(var(--rotation));
  }
}
button.glasium {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
  place-items: center;
  place-content: center;
  min-height: 45px;
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  font-family: var(--font-secondary), "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  text-align: center;
  transition: 150ms transform ease-out;
  border-radius: 4px;
  z-index: 0;
}
button.glasium i {
  font-size: 1.215em;
}
button.glasium div {
  display: inline-block;
}
button.glasium .glasium__background {
  transition-property: filter;
  transition-duration: 170ms;
  transition-timing-function: linear;
}
button.glasium:active {
  transform: scale(0.9);
}
button.glasium:active .glasium__background {
  filter: brightness(125%);
}

@media (hover: hover) {
  button.glasium:hover .glasium__background {
    filter: brightness(115%);
  }
}
t-container,
.tooltip {
  --background-color: hsla(0, 0%, 4%, 0.45);
  --background-blink-color: hsla(0, 0%, 40%, 0.45);
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  margin: auto;
  display: inline-block;
  place-items: center;
  place-content: center;
  padding: 6px 9px;
  letter-spacing: 0.2px;
  text-align: center;
  white-space: pre-line;
  word-wrap: break-word;
  border-radius: 6px;
  backdrop-filter: saturate(80%) blur(6px);
  background-color: var(--background-color);
  box-sizing: content-box;
  transform-origin: center;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  will-change: opacity, --position-x, --position-y;
  transition-duration: 300ms, 300ms, 300ms, 300ms, 300ms;
  transition-property: transform, opacity, width, height, padding;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1), ease-out, ease, ease, cubic-bezier(0.22, 1, 0.36, 1);
  transform: translate(calc(var(--position-x) * 1px), calc(var(--position-y) * 1px));
  animation-name: none;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 999999;
}
t-container[data-glow],
.tooltip[data-glow] {
  animation-name: tooltip-blink;
}
t-container[data-activated],
.tooltip[data-activated] {
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
  opacity: 1;
}
t-container[data-deactivated],
.tooltip[data-deactivated] {
  width: 0px;
  height: 0px;
}
t-container[data-fit],
.tooltip[data-fit] {
  padding: 0;
}
t-container t-content,
t-container .tooltip__content,
.tooltip t-content,
.tooltip .tooltip__content {
  display: flex;
  flex-direction: row;
  place-items: center;
  place-content: center;
  max-width: 25vw;
  max-height: 30vh;
  width: fit-content;
  height: fit-content;
  border-radius: inherit;
  color: white;
  font-family: var(--font-secondary);
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2px;
  white-space: pre;
}

@keyframes tooltip-blink {
  0% {
    background-color: var(--background-blink-color);
  }
  100% {
    background-color: var(--background-color);
  }
}
a {
  font-family: var(--font-primary);
  text-decoration: none;
}

.slider {
  --time: 250ms;
  --timing-function: ease-out;
  flex-grow: 1;
  position: relative;
  width: auto;
  margin: 0 2.5em;
}
.slider input {
  opacity: 0;
  width: 100%;
  -webkit-appearance: none;
}
.slider *:not(input) {
  pointer-events: none;
}
.slider--dragging .slider__thumb {
  transition-duration: var(--time), var(--time);
  transition-property: background-color, border-color;
  transition-timing-function: var(--timing-function), var(--timing-function);
}
.slider--dragging .slider__track--left, .slider--dragging .slider__track--right {
  transition: var(--time) background-color var(--timing-function);
}
.slider__track--left, .slider__track--right {
  position: absolute;
  top: calc(50% - 1px);
  display: inline-block;
  height: 2px;
  background-color: #44aadd;
  border-radius: 100px;
  z-index: -2;
  transition-duration: var(--time), var(--time);
  transition-property: width, background-color;
  transition-timing-function: var(--timing-function), var(--timing-function);
}
.slider__track--left {
  left: 0;
}
.slider__track--right {
  right: 0;
  opacity: 0.4;
}
.slider__thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 40px;
  background-color: var(--slider-thumb-bg, white);
  border-color: var(--slider-thumb-border-bg, #44aadd);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  z-index: -1;
  transition-duration: var(--time), var(--time), var(--time);
  transition-property: left, background-color, border-color;
  transition-timing-function: var(--timing-function), var(--timing-function), var(--timing-function);
  pointer-events: none;
}
.slider__thumb:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 116%;
  height: 130%;
  border-radius: 15px;
  background-color: var(--shine, #a0dcfa);
  box-shadow: 0 0 14px 0 var(--shine, #a0dcfa);
  opacity: 0;
  box-sizing: content-box;
  transition: var(--time) opacity var(--timing-function), var(--time) background-color var(--timing-function);
}
.slider[data-color=blue] {
  --slider-thumb-border-bg: rgb(68, 170, 221);
}
.slider[data-color=blue] .slider__track--left {
  background-color: #44aadd;
}
.slider[data-color=blue] .slider__track--right {
  background-color: #065379;
}
.slider[data-color=pink] {
  --slider-thumb-border-bg: #ff66aa;
  --shine: rgb(255, 168, 232);
}
.slider[data-color=pink] .slider__track--left {
  background-color: #FF66AA;
}
.slider[data-color=pink] .slider__track--right {
  background-color: #bf1260;
}
.slider[data-uncomfortable] {
  --slider-thumb-border-bg: #dd2d44;
  --shine: #f86e70;
}
.slider[data-uncomfortable] .slider__track--left {
  background-color: #dd2d44;
}
.slider[data-uncomfortable] .slider__track--right {
  background-color: #8f0b0b;
}
.slider:active .slider__thumb, .slider:active[data-color=blue] .slider__thumb {
  border-color: #86d7ff;
}
.slider:active .slider__thumb:before, .slider:active[data-color=blue] .slider__thumb:before {
  opacity: 1;
}
.slider:active[data-color=pink] .slider__thumb {
  border-color: #ffa4d2;
}
.slider:active[data-color=pink] .slider__thumb:before {
  opacity: 1;
}
.slider:active[data-uncomfortable] .slider__thumb {
  border-color: #f86e70;
}
.slider:active[data-uncomfortable] .slider__thumb:before {
  opacity: 1;
}

body[theme=dark],
body[data-theme=dark],
body.dark {
  --slider-thumb-bg: black;
}

@media (hover: hover) {
  .slider {
    --time: 400ms;
    --timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .slider:hover, .slider[data-color=blue]:hover .slider__thumb {
    border-color: #86d7ff;
  }
  .slider:hover .slider__thumb:before, .slider[data-color=blue]:hover .slider__thumb .slider__thumb:before {
    opacity: 0.6;
  }
  .slider[data-color=pink]:hover .slider__thumb {
    border-color: #ffa4d2;
  }
  .slider[data-color=pink]:hover .slider__thumb .slider__thumb:before {
    opacity: 0.6;
  }
  .slider[data-uncomfortable]:hover .slider__thumb {
    border-color: #dd2d44;
  }
  .slider[data-uncomfortable]:hover .slider__thumb .slider__thumb:before {
    opacity: 0.6;
  }
}
.error {
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  font-size: 0.75rem;
  cursor: default;
}
.error__title {
  font-family: "Nunito";
  font-size: 1.5em;
  font-weight: bold;
  color: var(--error-color, black);
  line-height: 1.25em;
  text-align: center;
  margin-block-end: 0.25em;
}
.error__message {
  font-family: "Consolas", sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  color: var(--error-color, black);
  line-height: 1.5em;
  text-align: left;
  margin-block-end: 0.25em;
}
.error__description {
  font-family: "Consolas", sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: var(--error-color, black);
  line-height: 1.5em;
  text-align: justify;
  max-width: 525px;
  word-break: break-word;
}
.error__callback {
  display: flex;
  flex-wrap: wrap;
  width: 18em;
}
.error__callback button {
  flex-grow: 1;
  margin: 5px;
}

body > .error,
body > * > .error,
body > * > * > .error {
  font-size: clamp(0.9em, 1vw + 1vh, 23px);
}

body[data-theme=dark] {
  --error-color: whitesmoke;
}

body .loading--small, body .loading--big, body .loading--cover {
  --background: rgba(245, 245, 245, 0.4);
}

body[data-theme=dark] .loading--small, body[data-theme=dark] .loading--big, body[data-theme=dark] .loading--cover {
  --background: rgba(14, 14, 14, 0.4);
  --small-loading-bg: white;
  --big-loading-bg: rgba(194, 194, 194, 0.6);
  --big-spinner-bg: rgb(24, 24, 24);
}

.loading--small {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 3px solid var(--small-loading-bg, #2c2c2c);
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s rotate360 linear infinite;
}
.loading--big {
  position: relative;
  width: 4em;
  height: 4em;
}
.loading--big:after, .loading--big:before {
  content: "";
  position: absolute;
}
.loading--big:before {
  background-color: var(--big-loading-bg, rgba(165, 165, 165, 0.6));
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 0.9375em;
  animation: rotate90 1s cubic-bezier(0.22, 1, 0.36, 1) infinite;
  z-index: -1;
}
.loading--big:after {
  width: 50%;
  height: 50%;
  inset: 0;
  margin: auto;
  border: 3px solid var(--big-spinner-bg, white);
  border-right-color: transparent;
  border-radius: 50%;
  animation: 1s rotate360 linear infinite;
  z-index: 0;
}
.loading--cover {
  --size: clamp(6rem, 75%, 15rem);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 178;
  background-color: var(--background);
  backdrop-filter: blur(6px);
}
.loading--cover:after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: calc(var(--size) / 1.5);
  max-width: calc(var(--size) / 6);
  aspect-ratio: 1;
  border: 3px solid var(--big-spinner-bg, white);
  border-right-color: transparent;
  border-radius: 50%;
  animation: 1s rotate360 linear infinite;
  z-index: 0;
  pointer-events: none;
}
@media (max-width: 600px) {
  .loading--cover:after {
    width: unset;
    max-width: unset;
    height: calc(var(--size) / 1.5);
    max-height: calc(var(--size) / 6);
  }
}
.loading--cover:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: var(--size);
  max-width: calc(var(--size) / 2.5);
  aspect-ratio: 1;
  background-color: var(--big-loading-bg, rgba(165, 165, 165, 0.6));
  border-radius: 19%;
  animation: 0.8s rotate90 cubic-bezier(0.22, 1, 0.36, 1) infinite;
  z-index: -1;
  pointer-events: none;
}
@media (max-width: 600px) {
  .loading--cover:before {
    width: unset;
    max-width: unset;
    height: var(--size);
    max-height: calc(var(--size) / 2.5);
  }
}

.setting {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.setting--hide {
  display: none;
}

body .screen {
  --bg: rgb(100, 100, 100);
  --op: 0.3;
}

body[data-theme=dark] .screen {
  --op: 0.5;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.screen__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block-start: 20px;
  padding-block-end: 10px;
  background-color: var(--global-bg);
}
@media (max-width: 650px) {
  .screen__header {
    padding-block-start: 10px;
    padding-block-end: 5px;
  }
}
.screen__header__icon {
  font-size: 2.65em;
}
.screen__header__switcher {
  flex-grow: 1;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}
.screen__header__switcher__btn {
  margin-block-end: 0.38em;
}
.screen__header__switcher__btn button {
  position: relative;
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 2em;
  color: var(--global-color);
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: 400ms all ease;
}
@media (max-width: 650px) {
  .screen__header__switcher__btn button {
    font-size: 1.35em;
  }
}
.screen__header__switcher__btn button:before {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  width: 0;
  height: 2px;
  background-color: var(--bg);
  z-index: -1;
  transition: 400ms all cubic-bezier(0.87, 0, 0.13, 1), 400ms width cubic-bezier(0.16, 1, 0.3, 1), 400ms transform cubic-bezier(0.87, 0, 0.13, 1) 200ms;
}
@media (hover: hover) {
  .screen__header__switcher__btn button:hover:before {
    width: 100%;
  }
}
.screen__header__switcher__btn button[data-active] {
  font-weight: 700;
}
.screen__header__switcher__btn button[data-active]:before {
  width: 100%;
  height: 20px;
  opacity: var(--op);
  background-color: var(--osc-color-blue);
  transform: translate(-0.2em, 0.05em);
}
.screen__header__switcher__btn button + button {
  margin-inline-start: 0.5em;
}
.screen__header__switcher__des {
  width: 100%;
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 1.075em;
}
@media (max-width: 650px) {
  .screen__header__switcher__des {
    font-size: 0.85em;
  }
}
.screen__header__buttons button {
  font-size: 15px;
}
@media (max-width: 650px) {
  .screen__header__buttons button > div:not(.glasium__background) {
    color: red;
    display: none;
  }
}
@media (max-width: 520px) {
  .screen__header__buttons button {
    aspect-ratio: 1;
    font-size: 0.8em;
  }
}
.screen__header__buttons button + button {
  margin-inline-start: 10px;
}
.screen__content {
  flex-grow: 1;
  margin-block-start: 15px;
  margin-block-end: 15px;
  overflow: hidden;
}
.screen__content > *:not([data-viewing]) {
  display: none;
}

body .scroll {
  --scrollbar-idle-color: transparent;
  --scrollbar-show-color: rgba(140, 140, 140, 0.5);
  --scrollbar-hover-color: rgba(90, 90, 90, 0.5);
  --scrollbar-active-color: rgba(75, 75, 75, 0.6);
}

body[data-theme=dark] .scroll {
  --scrollbar-idle-color: transparent;
  --scrollbar-show-color: rgba(213, 204, 204, 0.5);
  --scrollbar-hover-color: rgba(235, 235, 235, 0.6);
  --scrollbar-active-color: rgba(255, 255, 255, 0.8);
}

.scroll {
  --scrollbar-size-initial: max(4.25px, 0.25vw);
  --scrollbar-margin: 0.07vw;
  --scrollbar-offset: calc(var(--scrollbar-size-initial) + var(--scrollbar-margin));
  position: relative;
  width: 100%;
  height: 100%;
  padding-block-start: 0 !important;
  padding-block-end: 0 !important;
  overflow: hidden;
  scrollbar-width: none;
}
.scroll * {
  scrollbar-width: none !important;
}
.scroll *::-webkit-scrollbar {
  display: none !important;
}
.scroll::-webkit-scrollbar {
  display: none !important;
}
.scroll__bar--vertical, .scroll__bar--horizontal {
  position: absolute;
  background-color: transparent;
  z-index: 90;
  pointer-events: none;
  transition: 200ms all ease-out;
}
.scroll__bar--vertical[data-hidden], .scroll__bar--horizontal[data-hidden] {
  display: none;
}
.scroll__bar--vertical .scroll__thumb, .scroll__bar--horizontal .scroll__thumb {
  pointer-events: all;
}
.scroll__bar--vertical {
  inset-inline: 0;
  inset-block: var(--scrollbar-offset);
  margin-inline-start: auto;
  margin-inline-end: var(--scrollbar-margin);
  width: var(--scrollbar-size, var(--scrollbar-size-initial));
}
.scroll__bar--vertical .scroll__thumb {
  inset-block-start: calc(var(--scrollbar-thumb-pos, 0) * 1%);
  inset-inline: 0;
  width: 100%;
  height: calc(var(--scrollbar-thumb-percent, 100) * 1%);
  transform-origin: right;
}
@media (hover: hover) {
  .scroll__bar--vertical:hover {
    width: calc(2 * var(--scrollbar-size, var(--scrollbar-size-initial)));
  }
}
.scroll__bar--horizontal {
  inset-block: 0;
  inset-inline: var(--scrollbar-offset);
  margin-block-start: auto;
  margin-block-end: var(--scrollbar-margin);
  height: var(--scrollbar-size, var(--scrollbar-size-initial));
}
.scroll__bar--horizontal .scroll__thumb {
  inset-inline-start: calc(var(--scrollbar-thumb-pos, 0) * 1%);
  inset-block: 0;
  height: 100%;
  width: calc(var(--scrollbar-thumb-percent, 100) * 1%);
  transform-origin: bottom;
}
@media (hover: hover) {
  .scroll__bar--horizontal:hover {
    height: calc(2 * var(--scrollbar-size, var(--scrollbar-size-initial)));
  }
}
@media (hover: hover) {
  .scroll:hover .scroll__bar {
    transition: 200ms all ease-out;
  }
  .scroll:hover .scroll__thumb {
    background-color: var(--scrollbar-show-color);
    transition: 200ms all ease-out;
  }
}
@media (hover: hover) and (hover: hover) {
  .scroll:hover .scroll__thumb:hover {
    background-color: var(--scrollbar-hover-color);
  }
}
@media (hover: hover) {
  .scroll:hover .scroll__thumb:active {
    background-color: var(--scrollbar-active-color);
  }
}
.scroll .scroll__thumb {
  position: absolute;
  background-color: var(--scrollbar-show-color);
  border-radius: 100px;
  user-select: none;
  transition: 800ms all ease-out 200ms;
}
@media (hover: hover) {
  .scroll .scroll__thumb {
    background-color: var(--scrollbar-idle-color);
  }
}
@media (hover: hover) {
  .scroll .scroll__thumb:hover {
    background-color: var(--scrollbar-hover-color);
  }
}
.scroll .scroll__thumb:active {
  background-color: var(--scrollbar-active-color);
}
.scroll__box {
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 0;
  transition: 100ms transform linear;
}
.scroll[data-dragging] .scroll__box {
  scroll-behavior: unset;
}
.scroll[data-dragging] .scroll__bar--vertical .scroll__thumb, .scroll[data-dragging] .scroll__bar--horizontal .scroll__thumb {
  transition: 1ms all linear;
}

.invisible {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: 50;
}

body .select {
  --background: white;
  --color: black;
  --color-hover: white;
  --option-color: black;
}
body .select[data-color=pink] {
  --background-active: var(--osc-color-pink);
}
body .select[data-color=blue] {
  --background-active: var(--osc-color-blue);
}

body[data-theme=dark] .select {
  --background: #242424;
  --color: rgb(235, 235, 235);
  --color-hover: white;
  --option-color: white;
}

.select {
  flex-grow: 1;
  position: relative;
  display: inline-flex;
  min-width: fit-content;
  margin: 0 2.5em;
  padding: 0.8em 1em;
  background-color: var(--background);
  border-radius: 4px;
  font-family: "Open Sans";
  font-size: 0.9em;
  font-weight: 500;
  color: var(--color);
  text-align: right;
  overflow: visible;
  user-select: none;
  transition: 100ms background-color ease-out, 100ms color ease-out;
}
@media (hover: hover) {
  .select:hover {
    background-color: var(--background-active);
    color: var(--color-hover);
  }
}
.select i {
  font-size: 1.2em;
}
.select__arrow {
  transition: 100ms transform cubic-bezier(0.165, 0.84, 0.44, 1);
}
.select__text {
  display: inline-block;
  padding: 0 0.8em;
  margin-inline-start: auto;
  vertical-align: bottom;
}
.select__box {
  position: absolute;
  inset-block-start: 100%;
  inset-inline: 0;
  margin-top: 0.5em;
  width: 100%;
  height: 0px;
  background-color: var(--background);
  border-radius: 4px;
  transition: 100ms height cubic-bezier(0.19, 1, 0.22, 1);
}
.select__option {
  color: var(--option-color);
  border-radius: 4px;
  margin: 0.1em;
  padding-block: 0.3em;
  padding-inline-end: 1.95em;
  font-size: 0.98em;
  transition: 100ms background-color ease-out, 100ms color ease-out;
}
@media (hover: hover) {
  .select__option:hover {
    color: var(--color-hover);
    background-color: var(--background-active);
  }
}
.select__option[data-current] {
  color: var(--color-hover);
  background-color: var(--background-active);
}
.select[data-activated] {
  background-color: var(--background-active);
  color: var(--color-hover);
}
.select[data-activated] .select__arrow {
  transform: rotate(-90deg);
}
.select[data-activated] .select__box {
  height: 80px;
}
@media (hover: hover) {
  .select:focus {
    background-color: var(--background-active);
    color: var(--color-hover);
  }
}

body .radio {
  --background: white;
  --color: rgb(42, 42, 42);
}

body[data-theme=dark] .radio {
  --background: rgb(28, 28, 28);
  --color: white;
}

.radio {
  display: inline-flex;
  flex-wrap: wrap;
  border-radius: 4px;
  overflow: hidden;
}
.radio__option {
  height: 2.8125em;
  min-width: 2.8125em;
  flex-grow: 1;
  border-style: solid;
  border-width: 3px;
  border-color: var(--background);
}
.radio__option:first-of-type {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.radio__option:last-of-type {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.radio__option i {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  font-size: 1.4em;
  color: var(--color);
  border-radius: 0.5px;
}
@media (hover: hover) {
  .radio__option:hover {
    border-color: transparent;
  }
}
.radio__option[data-current] {
  border-color: transparent;
}
.radio__option[data-current] i {
  background-color: transparent;
  color: unset;
}

body .lazyload {
  --cover-bg: rgba(245, 245, 245, 0.8);
}

body[data-theme=dark] .lazyload {
  --cover-bg: rgba(14, 14, 14, 0.8);
}

.lazyload {
  position: var(--position, relative);
  inset: var(--inset, unset);
  overflow: hidden;
  border: none;
  z-index: 0;
}
.lazyload * {
  z-index: 1;
}
.lazyload__image {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-position: 50% 50%;
  object-fit: var(--object-fit);
  border: none;
  border-image-width: 0;
  z-index: 0;
}
.lazyload__cover {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: var(--cover-bg);
  overflow: hidden;
}
.lazyload__cover[data-loaded] {
  display: none;
  opacity: 0;
}

:root {
  --nav-height: max(45px, 2.8125rem);
}

body .nav {
  --nav-bg: hsl(0, 0%, 100%);
  --nav-link-clr: hsl(209, 16%, 25%);
  --nav-link-a-clr: hsl(209, 16%, 25%);
  --nav-link-h-bg: hsl(0, 0%, 85%);
  --nav-link-a-bg: hsl(0, 0%, 76%);
  --nav-attr-activated-bg: hsl(0, 0%, 92%);
  --nav-attr-activated-h-bg: hsl(0, 0%, 85%);
  --nav-attr-activated-a-bg: hsl(0, 0%, 76%);
  --nav-hamburger-clr: hsl(210, 29%, 24%);
  --nav-sub-window-bg: rgba(250, 250, 250, 0.95);
  --nav-sub-window-clr: black;
  --nav-sub-window-overlay-bg: rgba(245, 245, 245, 0.8);
  --nav-sub-window-border-clr: var(--osc-color-pink);
  --nav-box-shadow: hsla(0, 0%, 100%, 0.9);
  --nav-box-shadow-initial: transparent;
}

body[data-theme=dark] .nav {
  --nav-bg: hsl(0, 0%, 13%);
  --nav-link-clr: hsl(210, 100%, 88%);
  --nav-link-a-clr: hsl(0, 0%, 100%);
  --nav-link-h-bg: hsl(0, 0%, 19%);
  --nav-link-a-bg: hsl(0, 0%, 25%);
  --nav-attr-activated-bg: hsl(0, 0%, 27%);
  --nav-attr-activated-h-bg: hsl(0, 0%, 31%);
  --nav-attr-activated-a-bg: hsl(0, 0%, 25%);
  --nav-hamburger-clr: hsl(0, 0%, 92%);
  --nav-sub-window-bg: rgba(0, 0, 0, 0.9);
  --nav-sub-window-clr: white;
  --nav-sub-window-overlay-bg: rgba(14, 14, 14, 0.8);
  --nav-sub-window-border-clr: var(--osc-color-blue);
  --nav-box-shadow: hsla(0, 0%, 6%, 0.9);
  --nav-box-shadow-initial: transparent;
}

.nav {
  position: absolute;
  inset-inline: 0;
  inset-block-start: calc(-1 * var(--nav-height));
  width: 100%;
  height: var(--nav-height);
  display: flex;
  place-items: center;
  place-content: center space-between;
  background-color: var(--nav-bg);
  box-shadow: 0px 20px 120px 20px var(--nav-box-shadow-initial);
  transition: 200ms box-shadow ease-out;
  z-index: 20;
}
.nav i {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.nav > * {
  z-index: 15;
}
.nav--left, .nav--right {
  display: flex;
  height: 100%;
}
.nav--left {
  flex-direction: row;
}
.nav--right {
  flex-direction: row-reverse;
}
.nav__component {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.nav__logo {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
  user-select: none;
}
.nav__logo__icon {
  height: 1.8em;
  width: 1.8em;
  border-radius: 50%;
}
.nav__logo__title {
  padding-inline-start: 0.5em;
  font-family: var(--font-secondary);
  font-weight: 800;
}
.nav__logo:active {
  background-color: var(--nav-link-a-bg);
}
.nav__link,
.nav a {
  height: 100%;
  width: 3.4375rem;
  font-size: 1.25em;
  color: var(--nav-link-clr);
  cursor: pointer;
  transition: background-color 200ms ease-out;
}
.nav__link[data-active],
.nav a[data-active] {
  color: var(--nav-link-a-clr);
  text-shadow: 0 0 10px #c2e0ff;
}
.nav__link:active,
.nav a:active {
  background-color: var(--nav-link-a-bg);
}
.nav__hamburger {
  --nav-hamburger-bar-height: 4px;
  position: relative;
  display: flex;
  place-items: center;
  place-content: center;
  width: 55px;
  height: 100%;
}
.nav__hamburger__box {
  position: relative;
  width: 24px;
  height: 24px;
}
.nav__hamburger__box span:nth-child(1),
.nav__hamburger__box span:nth-child(2),
.nav__hamburger__box span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: var(--nav-hamburger-bar-height);
  background-color: var(--nav-hamburger-clr);
  border-radius: 50px;
  transition: all 200ms cubic-bezier(0.22, 1, 0.36, 1);
}
.nav__hamburger__box span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right center;
}
.nav__hamburger__box span:nth-child(2) {
  top: calc(50% - var(--nav-hamburger-bar-height) / 2);
  transform-origin: center center;
}
.nav__hamburger__box span:nth-child(3) {
  bottom: 0;
  right: 0;
  transform-origin: left center;
}
.nav__hamburger[data-activated] span:nth-child(1),
.nav__hamburger[data-activated] span:nth-child(2),
.nav__hamburger[data-activated] span:nth-child(3) {
  background-color: #ff1463;
}
.nav__hamburger[data-activated] span:nth-child(1),
.nav__hamburger[data-activated] span:nth-child(3) {
  width: 50%;
  transform: rotate(45deg);
}
.nav__hamburger[data-activated] span:nth-child(1) {
  top: calc(50% - var(--nav-hamburger-bar-height) / 2);
}
.nav__hamburger[data-activated] span:nth-child(2) {
  transform: rotate(-45deg);
}
.nav__hamburger[data-activated] span:nth-child(3) {
  bottom: calc(50% - var(--nav-hamburger-bar-height) / 2);
}
@media (hover: hover) {
  .nav__hamburger[data-activated][data-activated]:hover span:nth-child(1),
.nav__hamburger[data-activated][data-activated]:hover span:nth-child(2),
.nav__hamburger[data-activated][data-activated]:hover span:nth-child(3) {
    transform: rotate(0deg);
  }
}
@media (hover: hover) {
  .nav__hamburger:hover span:nth-child(1),
.nav__hamburger:hover span:nth-child(3) {
    width: 50%;
  }
}
.nav [data-clicker] {
  position: relative;
  cursor: pointer;
  transition: background-color 200ms ease-out;
  user-select: none;
}
.nav [data-clicker]:active {
  background-color: var(--nav-link-a-bg);
}
.nav [data-clicker][data-activated] {
  background-color: var(--nav-attr-activated-bg);
}
.nav .nav__button {
  position: relative;
  place-content: center;
  place-items: center;
  min-width: 55px;
  padding: 0 8px;
  user-select: none;
  border-radius: 0;
}
.nav .nav__button > .glasium__background {
  filter: brightness(75%);
  transition: 150ms filter ease-out;
}
.nav .nav__button i {
  font-size: 1.25em;
}
.nav .nav__button__image {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  user-select: none;
  opacity: 0.9;
}
.nav .nav__button__text {
  font-family: var(--font-secondary);
  font-weight: 700;
  padding-inline-start: 12px;
}
@media (max-width: 550px) {
  .nav .nav__button {
    min-width: 45px;
    width: 45px;
    padding: 0;
  }
  .nav .nav__button__text {
    display: none;
  }
}
.nav .nav__button[data-activated] {
  background-color: unset;
}
.nav .nav__button[data-activated] > .glasium__background {
  filter: brightness(105%);
}
.nav .nav__button:active {
  background-color: unset;
}
.nav .nav__button:active > .glasium__background {
  filter: brightness(115%);
}
.nav__sub-window {
  position: absolute;
  inset-block-start: 100%;
  display: flex;
  flex-direction: column;
  width: var(--width);
  height: var(--height);
  align-items: center;
  background-color: var(--nav-sub-window-bg);
  cursor: default;
  overflow: hidden;
  opacity: 0;
  transition-property: height, opacity, border-bottom-width;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  border-bottom-width: 3px;
  border-style: solid;
  border-color: var(--nav-sub-window-border-clr);
  pointer-events: all;
}
.nav__sub-window__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--nav-sub-window-overlay-bg);
  pointer-events: all;
  z-index: 10;
}
.nav__sub-window__content {
  padding: 15px;
  max-width: 100vw;
  max-height: 100vh;
  color: var(--nav-sub-window-clr);
  z-index: 9;
  pointer-events: all;
}
.nav__sub-window[data-align=left] {
  inset-inline-start: 0;
}
.nav__sub-window[data-align=right] {
  inset-inline-end: 0;
}
.nav__sub-window[data-align=expanded] {
  left: calc(var(--left) * -1px);
}
.nav__sub-window[data-activated] {
  opacity: 1;
}
.nav__sub-window[data-deactivated] {
  display: none;
}
.nav__indicator {
  position: absolute;
  top: 100%;
  height: 3px;
  width: 0;
  background-color: var(--nav-link-a-clr);
  box-shadow: 0 0 7px 0.5px var(--nav-link-a-clr);
  pointer-events: none;
  z-index: 100;
  transition: width 0.2s ease, all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}
.nav__tooltip {
  position: absolute;
  inset-block-start: 100%;
  opacity: 0;
  padding: 0.5em;
  pointer-events: none;
  transition: all 100ms ease-out;
}
.nav__tooltip__title {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  pointer-events: none;
}
.nav__tooltip__description {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 500;
  margin-block-start: 0.25em;
  pointer-events: none;
}
.nav__tooltip--active {
  opacity: 1;
}
.nav__underlay {
  position: absolute;
  inset-inline: 0;
  inset-block-start: 100%;
  height: calc(100vh - 100%);
  width: 100%;
  display: none;
  z-index: 2;
}
.nav__underlay[data-activated] {
  display: block;
}
.nav--decorating {
  box-shadow: 0 40px 20px 40px var(--nav-box-shadow);
}

@media (hover: hover) {
  .nav__link:hover,
.nav a:hover, .nav__logo:hover,
.nav [data-clicker]:hover {
    background-color: var(--nav-link-h-bg);
  }
  .nav .nav__button:hover {
    background-color: unset;
  }
  .nav .nav__button:hover > .glasium__background {
    filter: brightness(97%);
  }
}
@media (max-width: 550px) {
  .nav__link,
.nav a, .nav__logo,
.nav [data-clicker], .nav__button {
    width: 45px;
  }
  .nav .nav__hamburger {
    width: 55px;
  }
  .nav__logo__title {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
